@keyframes arrow-bounce {
	0% {
		transform: scale(1,1) translateY(0); 
	}
	10% {
		transform: scale(1.1,.9) translateY(0);
	}
	30% {
		transform: scale(.9,1.1) translateY(-20px);
	}
	50% {
		transform: scale(1.05,.95) translateY(0);
	}
	57% {
		transform: scale(1,1) translateY(-7px);
	}
	64% {
		transform: scale(1,1) translateY(0);
	}
	100% {
		transform: scale(1,1) translateY(0);
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 0.4;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
