@use "sass:color";

/*Fonts*/
$font-family-main: 'Lato', sans-serif;
$font-family-title: 'Yanone Kaffeesatz', sans-serif;


/*Colors*/
$color-main: #303744;
$color-light: #f9faf9;
$color-darker: #a0a7a4;
$color-dark-shadow: color.scale($color-light, $lightness: -20%);
$color-light-shadow: color.scale($color-light, $lightness: 99%);
$color-highlight: #c74168;
